{
  "root": true,
  "plugins": [
    "prettier",
    "cypress",
    "chai-friendly"
  ],
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "no-console": "off",
    "arrow-parens": "error",
    "camelcase": "error",
    "array-bracket-newline": "error",
    "arrow-spacing": "error",
    "complexity": "error",
    "no-duplicate-imports": "error",
    "prettier/prettier": [2, { "useTabs": false }],
    "cypress/no-assigning-return-values": "error",
    "cypress/no-unnecessary-waiting": "error",
    "cypress/assertion-before-screenshot": "error",
    "cypress/no-force": "error",
    "cypress/no-async-tests": "error",
    "cypress/no-pause": "error",
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "env": {
    "node": true,
    "cypress/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  }
}